In [1]:
import numpy as np 
import pandas as pd

In [2]:
#Loading a file
df = pd.read_csv('anime.csv')

In [3]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [4]:
df.loc[0]['Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [5]:
def extract_ep(txt):
    check = False
    data = ''
    for i in txt:
        if i == ')':
            break
        if i == '(':
            check = True
        elif check==True:
            data = data + i
    return data

In [6]:
# Here we are using feature extraction adding episodes column
df['Episodes'] = df['Title'].apply(extract_ep)

In [7]:
df['Episodes'] = df['Episodes'].str.replace('eps','')

In [8]:
# For converting data type we use astype function
df['Episodes'] = df['Episodes'].astype(int)

In [9]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [10]:
## For extracting time stamp
def extract_time(txt):
    check = False
    data = ''
    for i in range(len(txt)):
        if txt[i] == ')':
            for j in range(i+1,i+20):
                data = data + txt[j]
    return data

In [11]:
df.loc[0]['Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [12]:
df['Total Time']= df['Title'].apply(extract_time)

In [13]:
df.head()

,Rank,Title,Score,Episodes,Total Time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [14]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

def calculate_total_months(time_range):
    start_str, end_str = time_range.split(' - ')
    start_date = datetime.strptime(start_str, '%b %Y')
    end_date = datetime.strptime(end_str, '%b %Y')
    r = relativedelta(end_date, start_date)
    return r.years * 12 + r.months + 1  # +1 to include the starting month

df['Months'] = df['Total Time'].apply(calculate_total_months)

df.head()

,Rank,Title,Score,Episodes,Total Time,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [15]:
df[df['Score'] == df['Score'].max()]

,Rank,Title,Score,Episodes,Total Time,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,16

In [ ]:
# Hw for me
## Anime with top 5 episodes count
df['Episodes'].value_counts().head()

Episodes
1     9
13    6
12    6
24    4
26    4
Name: count, dtype: int64

In [17]:
## Longest running anime
longest_anime = df.loc[df['Months'].idxmax()]

In [18]:
longest_anime

Rank                                                         12
Title         Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...
Score                                                      9.02
Episodes                                                    110
Total Time                                  Jan 1988 - Mar 1997
Months                                                      111
Name: 11, dtype: object